## TNUM functions for accessing Truenumbers&reg;


TNUM provides Python functions for accessing the Truenumbers (TN) REST API to create, query and work with truenumber data.  It includes utilities for displaying the graphs and trees appropriate to the structure of TN.  This notbook runs though these functions with examples as a kind of introduction and user guide for TNUM and TN. 

We start by importing all the TNUM functions, and calling *tnum_authorize* to connect to a TN server and display all the available numberspaces in that server.  We then set TNUM state to work with one particular numberspace.

In [4]:
from IPython.display import Markdown, display
from tnum import *
from tnum_ingest import *
import pandas as pd
import tkinter as tk
from tkinter import filedialog

Tnum.authorize("gov.truenumbers.com")
Tnum.setSpace("tyler-test")

IndentationError: expected an indented block after function definition on line 9 (tnum_ingest.py, line 10)

This numberspace has data based on a snapshot of a system which provides
a dashboard for aircraft maintenance.

In [2]:
# open the file dialog box
file_path = filedialog.askopenfilename()

df = pd.read_csv (file_path)
print(df)

        Unnamed: 0  sub2=/$valt Unnamed: 2 Unnamed: 3 sub1=$valt Unnamed: 5  \
0             city   city_ascii        lat        lng    country       iso2
1            Tokyo        Tokyo    35.6897   139.6922      Japan         JP
2          Jakarta      Jakarta     -6.175   106.8275  Indonesia         ID
3            Delhi        Delhi      28.61      77.23      India         IN
4              NaN          NaN        NaN        NaN        NaN        NaN
...            ...          ...        ...        ...        ...        ...
44693        Numto        Numto    63.6667    71.3333     Russia         RU
44694         Nord         Nord    81.7166      -17.8  Greenland         GL
44695  Timmiarmiut  Timmiarmiut    62.5333   -42.2167  Greenland         GL
44696   San Rafael   San Rafael   -16.7795   -60.6799    Bolivia         BO
44697      Nordvik      Nordvik    74.0165     111.51     Russia         RU

      Unnamed: 6                                Unnamed: 7 Unnamed: 8  \
0           iso3                                admin_name    capital
1            JPN                                     Tōkyō    primary
2            IDN                                   Jakarta    primary
3            IND                                     Delhi      admin
4            NaN                                       NaN        NaN
...          ...                                       ...        ...
44693        RUS  Khanty-Mansiyskiy Avtonomnyy Okrug-Yugra        NaN
44694        GRL                                       NaN        NaN
44695        GRL                                  Kujalleq        NaN
44696        BOL                                Santa Cruz        NaN
44697        RUS                        Krasnoyarskiy Kray        NaN

      $sub|population|$valn| Unnamed: 10  Unnamed: 11   x  x.1  x.2
0                 population          id          NaN NaN  NaN  NaN
1                   37732000  1392685764          NaN NaN  NaN  NaN
2                   33756000  1360771077          NaN NaN  NaN  NaN
3                   32226000  1356872604          NaN NaN  NaN  NaN
4                        NaN         NaN          NaN NaN  NaN  NaN
...                      ...         ...          ...  ..  ...  ...
44693                     10  1643985006          NaN NaN  NaN  NaN
44694                     10  1304217709          NaN NaN  NaN  NaN
44695                     10  1304206491          NaN NaN  NaN  NaN
44696                    NaN  1068405265          NaN NaN  NaN  NaN
44697                      0  1643587468          NaN NaN  NaN  NaN

[44698 rows x 15 columns]

In [3]:

res[0].dump()

NameError: name 'res' is not defined